body {
    font-family: 'Roboto', sans-serif;
    background-color: #fafafa;
}

.quizz-lists-screen{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.criar-quizz {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%;
    height: 200px;
    border: 1px dashed #d4d4d4;
    border-radius: 5px;
}

.criar-quizz span{
    display: flex;
    align-items: center;
    width: 250px;
    height: 108px;
    font-size: 20px;
    line-height: 24px;
    color: #B9B9B9;
    text-align: center;
}

.criar-quizz button {
    width: 150px;
    height: 40px;
    border: 1px dashed #EC362D;
    border-radius: 50px;
    font-size: 20px;
    line-height: 24px;
    color: #EC362D;
    background-color: #FAFAFA;
}

.meu-quizz{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    width: 80%;
    height: 200px;
}

.meu-quizz span{
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}

.meu-quizz h2{
    margin-right: 16px;
}

.meu-quizz ion-icon{
    width: 30px;
    height: 30px;
    color: #EC362D;
}

.lista-quizz{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 80%;
    height: auto;
    margin-top: 78px;
}

.lista-quizz span{
    width: 100%;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}

.card-quizz {
    width: 340px;
    height: 180px;
    border-radius: 10px;
    margin: 20px 0px ;
}

.img-topo{
    width: 100%;
    height: 230px;
    display: flex;
    justify-content: center;
}

.div-pergunta-titulo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.div-pergunta-img{
    width: 330px;
    height: 176px;
    object-fit: cover;
}

.div-pergunta-texto{
    width: 330px;
    height: 34px;
    font-size: 20px;
    font-weight: 700;
}

header {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 4px 0 rgba(0,0,0, .25);
    height: 69px;
}

header h1 {
    color:#fff;
    font-size: 37px;
}

form {
    align-items: center;
    flex-direction: column;
    width: 600px;
    margin: 0 auto;
}

form .form-title {
    text-align: center;
    margin-bottom: 27px;
}

form .form-title h3 {
    font-size: 23px;
    font-weight: bold;
    color: #000;
}

form .form-group {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px 1px rgba(0,0,0, .05);
    width: 100%;
    box-sizing: border-box;
    margin: 25px 0;
}

form .form-group .input-group input {
    height: 46px;
    border-radius: 5px;
    border: solid 1px #d1d1d1;
    color: #bababa;
    padding: 0 20px;
    font-size: 19px;
    font-style: italic;
    margin-bottom: 14px;
}

form .form-group .input-group label {
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: bold;
}

form .form-group .input-group {
    display: flex;
    flex-direction: column;
}

form .form-actions {
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
}

form .form-actions .forward-btn {
    width: 370px;
    height: 54px;
    border-radius: 15px;
    color: #fff5f4;
    font-size: 21px;
    border: none;
}

form .form-actions .back-home-btn {
    border: none;
    background: none;
    color: #818181;
    font-size: 21px;
    margin-top: 20px;
}

form .input-group.form-section {
    margin-bottom: 28px;
}

form .form-group.collapsed {
    cursor: pointer;
}

form .form-group.collapsed .input-group {
    display: none;
}

form .form-group.expanded .form-group-header {
    display: none;
}

form .form-step {
    width: 100%;
}

form .form-group .form-group-header {
    justify-content: space-between;
    align-items: center;
}

form .form-group .form-group-header h5 {
    font-size: 20px;
    font-weight: bold;
}

form .form-group .form-group-header ion-icon {
    font-size: 26px;
    font-weight: bold;
}

/* Essas são classes utilitárias, que podemos reaproveitar em outras partes do código */
.d-flex {
    display: flex;
}

.hidden{
    display: none;
}

.m-t-140 {
    margin-top: 140px;
}

.bg-primary {
    background-color: #EC362D;
}

.quizz-div {
    position: relative;
    cursor: pointer;
}

.quizz-div div {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, transparent 30%, #000c 100%);
}

.quizz-div h3 {
    color: #fff;
    font-size: 23px;
    left: 0;
    bottom: 0;
    position: absolute;
    padding: 25px;
}
/* Essas são classes utilitárias, que podemos reaproveitar em outras partes do código */